@charset "UTF-8";

.viewBox-flex {
  width: 88px;
  height: 88px;
  border: solid 1px #969696;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin:1px;
  box-shadow: 4px 4px 0px #ddd;
}

.viewBox-inline-block {
  min-width: 88px;
  min-height: 88px;
  border: solid 1px #969696;
  display: inline-block;
  padding: 36px 8px 8px 36px;
  margin:1px;
  box-shadow: 4px 4px 0px #ddd;
  text-align: left;
  cursor: pointer
}

.viewBox-inline-flex {
    width: 88px;
    height: 88px;
    border: solid 1px #969696;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 4px 4px 0px #ddd;
    margin: 1px;
}

.viewBox-flex span {
    font-size: 10px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

.viewBox-flex p::selection {
  background: transparent;
}

.viewBox-inline-block p::selection {
  background: transparent;
}

.viewBox-inline-flex p::selection {
  background: transparent;
}

.viewBoxWrap {
  display: inline-block;
  width: 720px;
  margin-bottom: 24px;
}

.methodWrap {
  margin-bottom: 0;
}

.methodWrapGroup {
  /* float: right;
  display: block;
  width: 720px; */
}

.viewBox-flex p {
  font-size: 10px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0;
}

.viewBox-inline-flex p {
  font-size: 10px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0;
  line-height:16px;
  text-align:center;
}

.viewBox-inline-block p {
  font-size: 10px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0;
}

/* 10204 html() スタイルなし */

/* 11606 text() スタイルなし */

/* //11601 append() */

#append-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#append-sample-outside {
  display: block;
}

#append-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#append-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11602 appendTo() */

#appendTo-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#appendTo-sample-outside {
  display: block;
}

#appendTo-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#appendTo-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11604 prepend() */

#prepend-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#prepend-sample-outside {
  display: block;
}

#prepend-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#prepend-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11605 prependTo() */

#prependTo-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#prependTo-sample-outside {
  display: block;
}

#prependTo-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#prependTo-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11701 after() */

#after-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#after-sample-outside {
  display: block;
  /* margin-bottom:12px; */
}

#after-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#after-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11702 before() */

#before-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#before-sample-outside {
  display: block;
  /* margin-top:12px; */
}

#before-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#before-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11703 insertBefore() */

#insertBefore-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#insertBefore-sample-outside {
  display: block;
  /* margin-top:12px; */
}

#insertBefore-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#insertBefore-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/* //11704 insertAfter() */

#insertAfter-sample {
  text-align: left;
  padding: 0;
  cursor: pointer;
}

#insertAfter-sample-outside {
  display: block;
  /* margin-bottom:12px; */
}

#insertAfter-sample-reset {
  display: none;
  /* margin: 12px 0 0; */
}

#insertAfter-sample-reset .viewBox-inline-flex {
  cursor: pointer;
}

/*
clickable
*/
.clickable{
  background:#009696;
  color:#fafafa;
}
.clickable:hover{
  background:#006464;
  color:#fafafa;
}

.clickable:active {
    background: #004848;
    color:#fafafa;
    top: 2px;
    left: 2px;
    position: relative;
    box-shadow: 0 0 0 transparent;
}

.clickable-reset{
  background:#960096;
  color:#fff;
}

.clickable-reset:hover{
  background:#640064;
  color:#fafafa;
}

.clickable-reset:active{
  background:#480048;
  color:#fafafa;
  top: 2px;
  left: 2px;
  position: relative;
  box-shadow: 0 0 0 transparent;
}
