@charset "UTF-8";
/* 横幅100pxと横幅余白24pxの10分割グリッドレイアウト */

/* 1016pxのコンテイナーで縦横共に4pxと8pxの倍数で余白や幅をデザイン */


#wrap {
  overflow: hidden;
  opacity:0;
}

#wrap.fadeOnLoad{
  opacity:1;
  transition:opacity 1s;
}

header {
  text-align: left;
  margin: 0 auto;
  display: block;
  background: linear-gradient(#006464, #005050);
  padding: 4px 0 8px 0;
  border-top: 2px solid #003232;
  border-bottom: 2px solid #003232;
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 80px;
}

header.resize-header-larger {
  height: 80px;
  transition: height 1s;
}

header.resize-header-smaller {
  height: 44px;
  transition: height 1s;
}

header .header-container-outside {
  position: relative;
}

header.resize-header-larger .header-container-outside {
  margin-left: 24px;
  transition: margin-left 1s;
}

header.resize-header-smaller .header-container-outside {
  margin-left: 12px;
  transition: margin-left 1s;
}

header .container {
  width: 992px;
  display: block;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
}

header.resize-header-larger .container {}

header.resize-header-smaller .container {}

header .container h1 {
  font-weight: bold;
  text-shadow: 2px 2px 0 #003232;
  color: #ffffff;
  position: absolute;
}

header.resize-header-larger .container h1 {
  font-size: 20px;
  top: 12px;
  left: 96px;
  transition: font-size 1s, top 1s, left 1s;
}

header.resize-header-smaller .container h1 {
  font-size: 16px;
  top: 7px;
  left: 56px;
  transition: font-size 1s, top 1s, left 1s;
}

header .container span {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  left: 96px;
  top: 40px;
}

header.resize-header-larger .container span {
  text-shadow: 2px 2px 0 #003232;
  color: #ffffff;
  transition: color 2s, text-shadow 2s;
}

header.resize-header-smaller .container span {
  text-shadow: 0 0 0 transparent;
  color: transparent;
  transition: color 1s, text-shadow 1s;
}

header .container .frog-lays-illust {
  z-index: 1;
}

header.resize-header-larger .container .frog-lays-illust {}

header.resize-header-smaller .container .frog-lays-illust {}

header .container .arch {
  z-index: 1;
}

header.resize-header-larger .container .arch {}

header.resize-header-smaller .container .arch {}

header .container .arch img {}

header.resize-header-larger .container .arch img {
  width: 32px;
  top: -44px;
  left: 12px;
  position: absolute;
  filter: drop-shadow(0 0 0 transparent);
  transition: top 1s 0s, filter 1s;
}

header.resize-header-smaller .container .arch img {
    width: 38px;
    top: -4px;
    left: 10px;
    position: absolute;
    filter: drop-shadow(1px 1px 0 #003232);
    transition: top 1s 1s, filter 1s;
}

header .container .frog-lays-illust img {
  display: block;
}

header.resize-header-larger .container .frog-lays-illust img {
  width: 105px;
  position: absolute;
  top: 4px;
  left: -8px;
  transition: left 1s, top 1s, width 1s;
}

header.resize-header-smaller .container .frog-lays-illust img {
    width: 25px;
    position: absolute;
    top: 3px;
    left: 17px;
    transition: left 1s, top 1s, width 1s;
}

.sidebar {
  float: left;
  width: calc(124px + 100px);
  display: block;
  margin-bottom: 48px;
  margin-right: 24px;
  position: fixed;
}

.sidebar.resize-sidebar-larger {
  top: 112px;
  transition: top 1s;
}

.sidebar.resize-sidebar-smaller {
  top: 60px;
  transition: top 1s;
}

.sidebar h5 {
  background: linear-gradient(#006464, #005050);
  padding: 8px 16px 8px 12px;
  border-left: 1px solid #003232;
  border-right: 1px solid #003232;
  border-bottom: 1px solid #003232;
  color: #fff;
  text-shadow: 1px 1px 0 #003232;
  font-weight: bold;
}

.sidebar h5:before {
  content: "";
  background-image: url(../svg/frog-icon.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(1px 1px 0 rgba(0, 50, 50, 0.6));
}

.sidebar h5 span {
  padding-left: 12px;
}

.sidebar ul {
  margin-bottom: 0;
  border-left: 1px solid #003232;
  border-right: 1px solid #003232;
}

.sidebar li::selection {
  background: transparent;
}

.sidebar li img::selection {
  background: transparent;
}

.sidebar li span br::selection {
  background: transparent;
}

.sidebar>ul>li:last-child {
  padding: 0;
  border-bottom: 0 transparent;
}

.sidebar>ul>ul>li:active {
  background: linear-gradient(#009696, #008080);
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #003232;
}

.sidebar>ul>li span::selection {
  background: transparent;
}

#main {
  display: block;
  float: right;
  width: 720px;
  margin-top: 80px;
}

.contentsWrap {
  padding: 0 24px;
}

.contentsWrap.resize-contents-larger {
  margin-top: 32px;
  transition: margin-top 1s;
}

.contentsWrap.resize-contents-smaller {
  margin-top: 0px;
  transition: margin-top 1s;
}

.contentsWrap .container {
  width: 968px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

#searchInputWrap input[type="search"] {
  -webkit-appearance: searchfield;
  width: 224px;
  margin-bottom: 16px;
  padding: 8px 8px 8px 24px;
  border: solid 1px #999999;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #003232;
  background-color: #fdfdfd;
  background-image: url("../svg/search-icon.svg");
  background-repeat: no-repeat;
  background-position: top 8px left 8px;
  background-size: 12px;
  height: 32px;
}

h2 {
  display: inline-block;
}

h2:before {
  content: "";
  background-image: url("../svg/tree-icon.svg");
  width: 28px;
  height: 28px;
  display: block;
  float: left;
}

h2:after {
  content: "";
  border-top: 2px solid #006464;
  border-bottom: 1px solid #003232;
  display: block;
  float: left;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 14px;
}

h2#domInsertionInside-header:after {
  width: 369px;
}

h2#domInsertionOutside-header:after {
  width: 355px;
}

h2 span {
  padding-left: 12px;
  display: block;
  float: left;
  font-size: 20px;
}

h3 {
  border-top: solid 4px #006464;
  border-radius: 4px;
  box-shadow: 0 1px 0 #333 inset, 0 1px 0 #333;
  border-bottom: solid 4px #006464;
  background: rgba(250, 250, 250, 1);
  padding: 4px 0 4px 16px;
}

li.sidebar-header {
  background: linear-gradient(#009696, #008080);
  color: #fff;
  border-bottom: 1px solid #003232;
  font-weight: bold;
  text-shadow: 1px 1px 0 #003232;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}

li.sidebar-header span {
  display: block;
  float: left;
  width: 172px;
}

li.sidebar-list {
  background: linear-gradient(#009696, #008080);
  color: #fff;
  border-bottom: 0 transparent;
  font-weight: bold;
  text-shadow: 1px 1px 0 #003232;
  font-size: 12px;
}

li.sidebar-list ul {
  margin-bottom: 0;
  border: 0 transparent;
}

li.sidebar-list ul li {
  padding: 8px 16px;
  background: #fff;
  color: #003232;
  border-bottom: 1px solid #003232;
  font-weight: bold;
  text-shadow: 0 0 0 transparent;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}


li.sidebar-list ul li:hover{
  background: rgba(238, 250, 250,1);
}

.arrow-icon {
  display: block;
  float: right;
}

.arrow-icon img {
  filter: drop-shadow(1px 1px 0 rgba(0, 50, 50, 0.6));
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  transform: rotate(0deg);
}

.sidebar>ul>li .arrow-icon img.rotate {
  display: inline-block;
  animation-name: rotate-icon;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  /*0でもsをつける*/
  animation-iteration-count: 1;
  animation-direction: normal;
  transform: rotate(90deg);
  /*最終状態を記述する*/
}

.sidebar>ul>li .arrow-icon img.rotateBack {
  display: inline-block;
  animation: rotate-back;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  /*0でもsをつける*/
  animation-iteration-count: 1;
  animation-direction: normal;
  transform: rotate(0deg);
  /*最終状態を記述する*/
}

/*
.sidebar li {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: solid 1px #006464;
}
*/

/*
.sidebar>ul>li{
  background: linear-gradient(#009696, #008080);
  color: #fff;
  border-bottom: 1px solid #003232;
  font-weight: bold;
  text-shadow: 1px 1px 0 #003232;
}


*/

/*
.sidebar>ul>li.sidebar-list>ul>li {
  cursor:pointer;
} */

.sidebar>ul>li.sidebar-list>ul>li:active {
  background: linear-gradient(#009696, #008888);
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #003232;
}

/*
.sidebar>ul>li span {
  display: block;
  float: left;
  width: 172px;
}

.sidebar>ul>li.sidebar-list ul {
  margin-bottom: 0;
  border: 0 transparent;
  display: none;
}
*/

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.codeWrap {
  border: dashed 1px #ccc;
  background: rgba(0, 100, 100, 0.02);
  width: calc((124px * 5) + 100px);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-weight:bold;
}

.codeWrap:last-child {
  margin-bottom: 56px;
}

.hr {
  display: inline-block;
  margin-bottom: 32px;
}

.hr img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.hr:before {
  content: "";
  border-top: double 1px #003232;
  border-bottom: solid 1px #003232;
  height: 4px;
  width: 312px;
  display: inline-block;
  margin-right: 40px;
}

.hr:after {
  content: "";
  border-top: double 1px #003232;
  border-bottom: solid 1px #003232;
  height: 4px;
  width: 312px;
  display: inline-block;
  margin-left: 40px;
}

.methodWrapGroup .hr:last-child {
  display: none;
}


#searchResult {
    background: linear-gradient(to bottom, #fa9600 0%, #fa6400 100%);
    box-shadow: 0 1px 0 #fa9600;
    padding: 8px 6px 2px;
    border-radius: 4px;
    margin-bottom: 24px;
    height: 32px;
}
#searchResult .sprout-icon {
    width: 24px;
    display: block;
    float: left;
}
#searchResult span {
    display: block;
    float: left;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding-top: 1px;
    padding-left: 8px;
}

#searchResult span#searchResultNumb {
    padding-left: 10px;
}
