/* .pln{
  color:#001616!important;
}
.pun{
  color:#646400!important;
}
.str{
  color:#006464!important;
} */


/* .tag {
    color: #003232!important;
}
.pln {
    color: #003232!important;
}
.atn {
    color: #3F0630!important;
}
.atv {
    color: #007d7d!important;
} */
