@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  word-break: break-all;
}

html {
  text-size-adjust: 100%;
}

body {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #003232;
  background:rgba(250,250,250,1)
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  padding:8px 0;
  font-size:12px;
  outline:none;
}

input[type="search"]:placeholder-shown {
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size:12px;
}

input[type="search"]::-webkit-input-placeholder {
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size:12px;
}

input[type="search"]:-moz-placeholder {
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size:12px;
}

input[type="search"]::-moz-placeholder {
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size:12px;
}

input[type="search"]:-ms-input-placeholder {
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size:12px;
}


a {
  text-decoration: none;
}

a:hover {}

.hover {
  cursor: pointer;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

h1 {
  font-size: 24px;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
}

h4 {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
}

h5 {
  font-size: 12px;
  line-height: 24px;
}

p {
  font-size: 12px;
  line-height: 24px;
}

ul {
  list-style: none;
}

li {
  font-size: 12px;
  line-height: 24px;
  color:#003232;
}

 /*#006464*/

/* li:hover {
  background-color: rgba(0, 100, 100, 0.3);

} */

code {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3px!important;
  white-space:pre-wrap;
}

pre.prettyprint {
  padding: 0;
  border: 0 solid transparent;
}
